{% extends "core/layout.html" %}
{% load static %}

{% block head %}

<style>
  .tox-promotion{
    display:none;
  }
</style>
{{form.media}}

{% endblock head %}


      {% block body %}
    <div class="max-w-3xl mx-auto p-6">
      <header class="bg-white p-6 shadow-md mb-6 rounded-lg">
        <h1 class="text-2xl font-bold">Edit a Question</h1>
      </header>
      <div class="bg-white p-6 rounded-lg shadow-md">
        <form action="#">
          <div class="mb-4">
            <label class="block text-gray-700 font-bold text-sm mb-2" for="title">
              Title
            </label>
            <input value = "{{question.title}}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="question-title" name = "title" type="text" placeholder="Title">
          </div>
              <div class="mb-4">
                {{form.as_p}}
              </div>
              
              <div class="mb-4">
              <label for="tags" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an options</label>
              <select multiple id="tags" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {% for tag in tags %}
                <option value="{{tag.id}}" {% if tag in question.tags.all %}selected {% else %}{% endif %}>{{tag.title}}</option>
              {% endfor %}
              </select>
              </div>
        </form>
        <div class="mb-4">
          <button
            id = "submit-question"
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">
            Submit
          </button>
        </div>
      </div>
    </div>
      {% endblock body %}
      
    
    
    {% block scripts %}
    
    {{question.content|json_script:"json-initialText"}}
    {{question.id|json_script:"json-questionID"}}

    <script>
      let initialText = JSON.parse(document.getElementById("json-initialText").textContent)
      tinymce.init({
        selector: 'textarea',  // Replace this with your actual selector
        theme: 'silver',
            plugins: `
                save link image media preview codesample 
                table code lists fullscreen nonbreaking
                directionality searchreplace visualblocks
                visualchars autolink charmap print hr
                anchor pagebreak
            `,
            toolbar1: `
            fullscreen preview bold italic underline | fontselect,
            fontsizeselect  | forecolor backcolor | alignleft alignright |
            aligncenter alignjustify | indent outdent | bullist numlist table |
            | link image media | codesample |
            `,
    toolbar2: `
            visualblocks visualchars |
            charmap hr pagebreak nonbreaking anchor |  code |
            `,
            file_picker_callback:
            function (cb, value, meta) {
              var input = document.createElement("input");
              input.setAttribute("type", "file");
              if (meta.filetype == "image") {
                  input.setAttribute("accept", "image/*");
              }
              if (meta.filetype == "media") {
                  input.setAttribute("accept", "video/*");
              }
      
              input.onchange = function () {
                  var file = this.files[0];
                  var reader = new FileReader();
                  reader.onload = function () {
                      var id = "blobid" + (new Date()).getTime();
                      var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                      var base64 = reader.result.split(",")[1];
                      var blobInfo = blobCache.create(id, file, base64);
                      blobCache.add(blobInfo);
                      cb(blobInfo.blobUri(), { title: file.name });
                  };
                  reader.readAsDataURL(file);
              };
              input.click();
          },
        setup: function(editor) {
            editor.on('init', function() {
                editor.setContent(initialText);
            });
        }
    });
    </script>
    <script src = {% static "core/js/edit-question.js" %}></script>
    {% endblock scripts %}


