{% extends "core/layout.html" %} {% block body %}
<div class="flex-1 max-w-3xl mx-auto p-6">
  <header class="bg-white p-6 shadow-md mb-6 rounded-lg">
    <h1 class="text-2xl font-bold">All Questions</h1>
  </header>
  <div class="questions">
    {% for question in questions %}
    <a href="{% url "core:question_view" question.id%}">
    <div class="bg-white p-6 shadow-md">
      <h2 class="text-xl font-semibold mb-2">{{question.title}}</h2>
      <p class="text-gray-600">Asked by {{question.user}} on {{question.timestamp}}</p>
    </div>
  </a>
    {% endfor %}
    
    
    <div class="flex">
      <!-- Previous Button -->
      {% if questions.has_previous %}
      <a
      href="#"
      class="flex items-center justify-center px-4 h-10 text-base font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
      Previous
    </a>
      {% endif %}
     
      {% if questions.has_next %}
        <!-- Next Button -->
      <a
      href="#"
      class="flex items-center justify-center px-4 h-10 ms-3 text-base font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
    >
      Next
    </a>
      {% endif %}
      
    </div>
  </div>
</div>
{% endblock body %}
