{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Q&A Platform - Home</title>
    <link
      href="{% static "core/styles/tailwind.min.css" %}"
      rel="stylesheet"
    />
    {% block head %}{% endblock head %}
  </head>
  <body class="flex flex-col h-screen bg-gray-100 text-gray-800">
    <nav class="bg-white shadow-md">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <a href="{% url "core:index" %}" class="text-2xl font-bold text-gray-900"
              >Q&A Platform</a
            >
            <div class="ml-10 flex items-baseline space-x-4">
              <a
                href="{% url "core:index" %}"
                class="text-gray-900 px-3 py-2 rounded-md text-sm font-medium"
                >Home</a
              >
              <a href="{% url "core:ask_question_view" %}" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">Ask a question</a>

                <button id="profileDropdownButton" data-dropdown-toggle="profileDropdown" data-dropdown-delay="500" data-dropdown-trigger="hover" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">{{request.user}} <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                </button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% block body %} {% endblock body %}

    <footer class="bg-white text-center p-6 shadow-md">
      &copy; 2024 Q&A Platform
    </footer>

    <!-- Dropdown menu -->
<div id="profileDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="profileDropdownButton">
    <li>
      <a href="{% url "core:profile_view" request.user %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Profile</a>
    </li>
    <li>
      <a href="{% url "accounts:logout" %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Log Out</a>
    </li>
   
  </ul>
</div>
<script type="text/javascript" src="{% static "core/js/tinymce/tinymce.min.js" %}"></script>
<script src = "{% static "core/js/flowbite.min.js" %}"></script>
{% block scripts %}{% endblock scripts %}

  </body>
</html>
